.selected-video {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

  .player {
    position: relative;
    width: 100%;
    padding-top: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
    }
  }

  .info {
    padding: 2rem;
  }
}
